numpy -y
requests -y
tensorflow -y
tensorflow tensorflow-cpu -y
tensorflow-hub -y
tensorflow-datasets -y
tensorflow-addons -y
keras -y
cryptography -y
pycryptodome -y
scipy -y
scikit-learn -y
pandas -y
matplotlib -y
urllib3 -y
